/* Definição de fontes */
@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Regular.ttf)
    format("truetype");
    font-display: swap;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
}

/* Estilo desktop */
#logo{
    margin-top: 75px;
    margin-right: 70%;
    margin-bottom: 30px;
    margin-left: 10%;
}

body{
    background-color: #0E1014;
}

h1{
    font-size: 64px;
    color: #F5F5F5;
    font-family: "unbounded", sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}

#purple-text{
    color: #9747FF;
}

.white-text{
    color: #F5F5F5;
    text-align: center;
}

p{
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    margin-top: 24px;
    width: 792px;
    margin: 24px auto 0;
}

a{
    color: #F5F5F5;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    text-decoration: none;
    background-color: #9747FF;
    display: block;
    width: 340px;
    height: 66px;
    text-align: center;
    line-height: 64px;
    border-radius: 36px;
    margin: 40px auto;
}

a:hover{
    background-color: #8233E8;
}

img{
    display: block;
    margin: 0 auto;
}

/* Estilo tablet */
@media(max-width: 768px){
    #logo{
        margin-left: 5%;
    }
    p{
        width: 648px;
    }
    section img{
        width: 649px;
    }
}

/* Estilo mobile */
@media(max-width: 375px){
    #logo{

        margin: 5% 0 0 16px;
    }
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
        width: 340px;
    }
    a{
        font-size: 20px;
        width: 251px;
    }
    section img{
        width: 341px;
    }
}